body {
    background-color: rgb(57, 22, 80);
}

.navBar {
    position: relative;
    background-color: rgb(73, 39, 95);
    overflow: hidden;
}

/* Navbar link style */

.navBar a {
    float: left;
    position: relative;
    color: rgb(247, 239, 253);
    text-align: center;
    padding: 14px 16px;
    left: 50%;
    text-decoration: none;
    font-size: 17px;
    
}

.navBar a:hover {
    transition: background-color 0.2s ease; 
    background-color: rgb(15, 2, 26);
}


